<ion-header>
  <ion-navbar>
    <ion-title>
      Scanner
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
  <button ion-button expand="block" (click)="addnew()">Tilføj manuelt</button>
  <button ion-button (click)="OpenCam()">Åben Camera</button>
  </div>
</ion-content>
