<ion-header>
    <ion-navbar>
      <ion-title>
        Tilføj
      </ion-title>
    </ion-navbar>
  </ion-header>
  
<ion-content padding>
  <ion-item>
    <ion-label color="primary">Navn På Varen</ion-label>
    <ion-input id="name" type="string" [(ngModel)]="name" placeholder="Mælk"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Dag</ion-label>
    <ion-select id="day" type="string" [(ngModel)]="day" placeholder="01">
      <ion-option value="01">01</ion-option>
      <ion-option value="02">02</ion-option>
      <ion-option value="03">03</ion-option>
      <ion-option value="04">04</ion-option>
      <ion-option value="05">05</ion-option>
      <ion-option value="06">06</ion-option>
      <ion-option value="07">07</ion-option>
      <ion-option value="08">08</ion-option>
      <ion-option value="09">09</ion-option>
      <ion-option value="10">10</ion-option>
      <ion-option value="11">11</ion-option>
      <ion-option value="12">12</ion-option>
      <ion-option value="13">13</ion-option>
      <ion-option value="14">14</ion-option>
      <ion-option value="15">15</ion-option>
      <ion-option value="16">16</ion-option>
      <ion-option value="17">17</ion-option>
      <ion-option value="18">18</ion-option>
      <ion-option value="19">19</ion-option>
      <ion-option value="20">20</ion-option>
      <ion-option value="21">21</ion-option>
      <ion-option value="22">22</ion-option>
      <ion-option value="23">23</ion-option>
      <ion-option value="24">24</ion-option>
      <ion-option value="25">25</ion-option>
      <ion-option value="26">26</ion-option>
      <ion-option value="27">27</ion-option>
      <ion-option value="28">28</ion-option>
      <ion-option value="29">29</ion-option>
      <ion-option value="30">30</ion-option>
      <ion-option value="31">31</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
      <ion-label>Måned</ion-label>
      <ion-select id="month" type="string" [(ngModel)]="month" placeholder="jan">
        <ion-option value="jan">jan</ion-option>
        <ion-option value="feb">feb</ion-option>
        <ion-option value="mar">mar</ion-option>
        <ion-option value="apr">apr</ion-option>
        <ion-option value="maj">maj</ion-option>
        <ion-option value="jun">jun</ion-option>
        <ion-option value="jul">jul</ion-option>
        <ion-option value="aug">aug</ion-option>
        <ion-option value="sep">sep</ion-option>
        <ion-option value="oct">oct</ion-option>
        <ion-option value="nov">nov</ion-option>
        <ion-option value="dec">dec</ion-option>
      </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>År</ion-label>
    <ion-select id="year" type="string" [(ngModel)]="year" placeholder="2019">
      <ion-option value="2019">2019</ion-option>
      <ion-option value="2020">2020</ion-option>
      <ion-option value="2021">2021</ion-option>
      <ion-option value="2022">2022</ion-option>
      <ion-option value="2023">2023</ion-option>
      <ion-option value="2024">2024</ion-option>
      <ion-option value="2025">2025</ion-option>
      <ion-option value="2026">2026</ion-option>
      <ion-option value="2027">2027</ion-option>
      <ion-option value="2028">2028</ion-option>
      <ion-option value="2029">2029</ion-option>
      <ion-option value="2030">2030</ion-option>
    </ion-select>
  </ion-item>
  
  <button ion-button block (click)="send()">Okay</button>
</ion-content>