<ion-header>
  <ion-navbar>
    <ion-title>
      Produkt Liste
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()"><ion-icon name="add-circle" *ngIf="!anySelected"></ion-icon></button>
      <button ion-button icon-only (click)="removeItems()"><ion-icon name="remove-circle" *ngIf="anySelected"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list color="gray">
    <ion-item *ngFor="let item of items" (click)="viewItem(item)">
      <ion-label>
        <ion-item>{{item.name}}</ion-item>
      </ion-label>
      
      <div item-content>
        <ion-item>{{item.date}}
            <ion-icon name="arrow-back" *ngIf="item.selected"></ion-icon>
        </ion-item>
      </div>
    </ion-item>
  </ion-list>
</ion-content>