<ion-header>
  <ion-navbar>
    <ion-title>JPP</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button block (click)="openScan()">Scanner</button>
  <ion-row style="height: h"></ion-row>
  <button ion-button block (click)="openList_h()">Huskeliste</button>
  <ion-row style="height: h"></ion-row>
  <button ion-button block (click)="openList_items()">ProduktListe</button>
  <ion-row style="height: h"></ion-row>
  <button ion-button block (click)="openInfo()">Om Data</button>
  <ion-row style="height: h"></ion-row>
</ion-content>
