<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Omkring Data</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Denne app indsamler data</h3>
  <p>Men kun det data du selv indtaster.</p>
  <div>
    Så dataen kunne være bedst før datoen på en mælk
  </div>
  <div>
    eller et andet produkt du har indtastet
  </div>
  <p></p>
  <p></p>
  
  <div>
    Desuden kan kameraet også indsætte noget data 
  </div>
  <div>
    som du selv skal bekræfte
  </div>
  
</ion-content>
