<!--
  Generated template for the PCameraPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Camera</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-fab center bottom>
        <button ion-fab (click)="open_ocr()">
          <ion-icon name="camera"></ion-icon>
        </button>
      </ion-fab>
</ion-content>