<!--
  Generated template for the HlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Huskeliste</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()"><ion-icon name="add-circle" *ngIf="!anySelected"></ion-icon></button>
      <button ion-button icon-only (click)="removeItems()"><ion-icon name="remove-circle" *ngIf="anySelected"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of get_mut().items" (click)="select_item(item)">
      <ion-label>
        <ion-item>{{item.val.titel}}</ion-item>
      </ion-label>
      
      <div item-content>
        <ion-item>{{item.val.note}}
            <ion-icon name="arrow-back" *ngIf="item.remove_flag"></ion-icon>
        </ion-item>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
